<div class="container">
    <div class="row">
        <div class="span8">
            <h3 id="phone">
                1-800-700-5555
            </h3>

            <p>
                © 2010-<?=date("Y", time())?> <a href="http://community.jext.biz"
                                                 title="Интернет-провайдер">Jext.biz</a>.
                &nbsp;<a href="/terms">Terms</a>&nbsp;&amp;&nbsp;<a href="/privacy">Privacy</a>.
            </p>
        </div>
        <div class="span2 ar" id="elsewhere-msg">
            <h4>Оставайтесь на связи:</h4>
        </div>
        <div class="span2" id="elsewhere-icons">
            Twitter
        </div>
    </div>
</div>