<ul class="nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчёты <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/user/service-report">Отчёт по услугам</a></li>
            <li><a href="/user/traffic">Отчёт по трафику</a></li>
            <li><a href="/user/payment">Отчёт по платежам</a></li>
            <li><a href="/user/invoices">Счета</a></li>
            <li><a href="/user/dhs-report">Отчёт по сессиям</a></li>
            <li><a href="/user/blocking-report">Отчет по блокировкам</a></li>
            <li><a href="/user/telephony-report">Отчет по телефонии</a></li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сообщения <?=$this->newMessages($this->identity->login) ?><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/user/new-message">Написать сообщение</a></li>
            <li><a href="/user/new-messages">Новые сообщения <?=$this->newMessages($this->identity->login) ?></a></li>
            <li><a href="/user/messages">Входящие</a></li>
            <li><a href="/user/sent-messages">Отправленные</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Платежи <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/user/card-payment">Активация карты</a></li>
            <li><a href="/user/payment-document">Платежный документ</a></li>
            <!--<li><a href="/rbkmoney">Оплата RBK Money</a></li>-->

        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ещё <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/user/rentsoft">Услуги по подписке</a></li>
            <li><a href="/user/tariff-history">История изменения тарифов</a></li>
            <li class="divider"></li>
            <li><a href="/user/change-password">Изменить пароль для кабинета</a></li>
        </ul>
    </li>
</ul>